body{

    width: 85%;
    display: solid;
    margin: 10% auto;
    font-family: "Space Mono";
    background-color: rgb(58, 55, 110);
    border: soid;

}

h1{
    text-align: center;
    color: aliceblue;
}

textarea, #output{
    resize: none;
    border-radius: 5px;
    display: block;
    margin: 40px auto 20px;
    width: 60%;
    height: 60px;
    border: solid 1px;
    padding: 10px 0px 0px 10px;
    box-sizing: border-box;
}
textarea::placeholder{
    text-align: center;
}

#subtitle{
    width: 60%;
    display: block;
    margin: 40px auto 0;
    color: aliceblue;
}

.icons{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icons button
{
    max-width: 170px;
    height: 30px;
    border-radius: 5px;
    border: solid 2px aliceblue;
    font-family: "Space Mono";
    overflow: hidden;
}
.special-button{
    width: 15%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(142, 230, 142);
    display: block;
    margin: auto;
    border: solid 2px aliceblue;
    font-family: "Space Mono";
    overflow: hidden;
}

#output{
    box-sizing: border-box;
    padding: 10px 0px 0px 10px;
    margin-top: 10px;
    border: white solid 1px;
    height: 75px;
    background-color: rgb(136, 87, 187);
}

footer{
    position: absolute;
    bottom: 0;
    color: aliceblue;
}